In [1]:
import pandas as pd
import json
import pymongo
import numpy as np
from pymongo import MongoClient
data = pd.read_csv('Datasets/listings.csv.gz', compression='gzip',
                   error_bad_lines=False, low_memory=False)
print(len(data))

50599

In [2]:
for c in data.columns:
    print(c)

id
listing_url
scrape_id
last_scraped
name
summary
space
description
experiences_offered
neighborhood_overview
notes
transit
access
interaction
house_rules
thumbnail_url
medium_url
picture_url
xl_picture_url
host_id
host_url
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_thumbnail_url
host_picture_url
host_neighbourhood
host_listings_count
host_total_listings_count
host_verifications
host_has_profile_pic
host_identity_verified
street
neighbourhood
neighbourhood_cleansed
neighbourhood_group_cleansed
city
state
zipcode
market
smart_location
country_code
country
latitude
longitude
is_location_exact
property_type
room_type
accommodates
bathrooms
bedrooms
beds
bed_type
amenities
square_feet
price
weekly_price
monthly_price
security_deposit
cleaning_fee
guests_included
extra_people
minimum_nights
maximum_nights
minimum_minimum_nights
maximum_minimum_nights
minimum_maximum_nights
maximum_maximum_nights
minimum_nights_avg_ntm
maximum_nights_avg_ntm
calendar_updated
has_availability
availability_30
availability_60
availability_90
availability_365
calendar_last_scraped
number_of_reviews
number_of_reviews_ltm
first_review
last_review
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
requires_license
license
jurisdiction_names
instant_bookable
is_business_travel_ready
cancellation_policy
require_guest_profile_picture
require_guest_phone_verification
calculated_host_listings_count
calculated_host_listings_count_entire_homes
calculated_host_listings_count_private_rooms
calculated_host_listings_count_shared_rooms
reviews_per_month

In [3]:
data.groupby('security_deposit').count()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
security_deposit,,,,,,,,,,,,,,,,,,,,,
$0.00,12820,12820,12820,12820,12820,12569,9772,12739,12820,9018,...,12820,12820,12820,12820,12820,12820,12820,12820,12820,11055
"$1,000.00",1143,1143,1143,1143,1143,1093,915,1142,1143,728,...,1143,1143,1143,1143,1143,1143,1143,1143,1143,907
"$1,017.00",1,1,1,1,1,0,1,1,1,0,...,1,1,1,1,1,1,1,1,1,0
"$1,020.00",4,4,4,4,4,3,3,4,4,3,...,4,4,4,4,4,4,4,4,4,4
"$1,050.00",2,2,2,2,2,2,1,2,2,0,...,2,2,2,2,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
$975.00,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
$98.00,1,1,1,1,1,1,0,1,1,0,...,1,1,1,1,1,1,1,1,1,0
$99.00,4,4,4,4,4,4,3,4,4,4,...,4,4,4,4,4,4,4,4,4,4
$995.00,2,2,2,2,2,2,1,2,2,1,...,2,2,2,2,2,2,2,2,2,1
$999.00,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,4

In [4]:
data.groupby(['host_is_superhost']).count()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
host_is_superhost,,,,,,,,,,,,,,,,,,,,,
f,40225,40225,40225,40225,40209,38343,27543,39282,40225,24837,...,40225,40225,40225,40225,40225,40225,40225,40225,40225,30549
t,9811,9811,9811,9811,9811,9496,8488,9734,9811,7890,...,9811,9811,9811,9811,9811,9811,9811,9811,9811,9358

In [5]:
drop_columns = ['listing_url', 'scrape_id', 'last_scraped', 'space', 'description', 'experiences_offered', 
                'neighborhood_overview', 'interaction', 'house_rules', 'thumbnail_url', 'medium_url', 
                'picture_url', 'xl_picture_url', 'host_url', 'host_location', 
                'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms',
               'calculated_host_listings_count_shared_rooms', 'host_picture_url','city', 'state','market',
               'smart_location', 'country_code', 'country', 'is_location_exact', 'square_feet', 'calendar_updated',
               'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 
                'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability', 'availability_30', 
                'availability_60', 'availability_90', 'number_of_reviews_ltm', 'first_review', 'last_review', 
                'requires_license', 'license', 'jurisdiction_names', 'is_business_travel_ready', 
                'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms',
                'calculated_host_listings_count_shared_rooms']


df = data.drop(drop_columns, axis=1)

In [6]:
df

,id,name,summary,notes,transit,access,host_id,host_name,host_since,host_about,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2595,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",NaN,Apartment is located on 37th Street between 5t...,"Guests have full access to the kitchen, bathro...",2845,Jennifer,2008-09-09,A New Yorker since 2000! My passion is creatin...,...,10.0,10.0,10.0,9.0,f,strict_14_with_grace_period,t,t,1,0.39
1,3831,Cozy Entire Floor of Brownstone,Urban retreat: enjoy 500 s.f. floor in 1899 br...,NaN,B52 bus for a 10-minute ride to downtown Brook...,You will have exclusive use of and access to: ...,4869,LisaRoxanne,2008-12-07,Laid-back bi-coastal actor/professor/attorney.,...,10.0,9.0,10.0,9.0,f,moderate,f,f,1,4.67
2,5099,Large Cozy 1 BR Apartment In Midtown East,My large 1 bedroom apartment has a true New Yo...,Read My Full Listing For All Information. New ...,From the apartment is a 10 minute walk to Gran...,I will meet you upon arrival.,7322,Chris,2009-02-02,"I'm an artist, writer, traveler, and a native ...",...,10.0,10.0,10.0,9.0,f,moderate,t,t,1,0.60
3,5121,BlissArtsSpace!,NaN,NaN,NaN,NaN,7356,Garon,2009-02-03,"I am an artist(painter, filmmaker) and curato...",...,10.0,10.0,9.0,9.0,f,strict_14_with_grace_period,f,f,1,0.38
4,5178,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,Reservation should be made at least a few days...,NaN,Bathroom is shared with the host but the kitch...,8967,Shunichi,2009-03-03,I used to work for a financial industry but no...,...,9.0,9.0,10.0,8.0,f,strict_14_with_grace_period,f,f,1,3.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50594,40570168,"Happy, accommodating,confortable & súper CLEAN!","Modern chick,super CLEAN, súper CONFORTABLE an...",NaN,NaN,NaN,314364722,Archi,2019-12-03,Straight forward and on time!!,...,NaN,NaN,NaN,NaN,f,flexible,f,f,2,NaN
50595,40570350,Cozy Modern Cottage Apartment,"Our cozy cottage like apartment, is in the hea...",NaN,You can take the subway (N or W) train to get ...,NaN,61835657,Hugo,2016-03-06,NaN,...,NaN,NaN,NaN,NaN,f,moderate,f,f,1,NaN
50596,40570935,"Súper clean, super confortable,súper ACCOMMODA...","Newly renovated 3bedroom apt, fully equipped w...",NaN,Easy access and walking distance from subway a...,NaN,314364722,Archi,2019-12-03,Straight forward and on time!!,...,NaN,NaN,NaN,NaN,t,flexible,f,f,2,NaN
50597,40572303,Captivating Room C,about 5 minutes walk to the nostrand/bedford ...,NaN,NaN,NaN,219544415,Joel And Julian,2018-10-08,NaN,...,NaN,NaN,NaN,NaN,t,flexible,f,f,3,NaN
50598,40584021,Bright studio apartment with a lot of amenities,"Beautiful studio with a lot of amenities (gym,...",NaN,NaN,NaN,27943798,Narendiran,2015-02-18,"Hey everyone,\r\n\r\nI'm 33 years old and curr...",...,NaN,NaN,NaN,NaN,f,flexible,f,f,1,NaN

In [11]:
#fin#fill NaN data with 0 in the dataframe and display the data
df.fillna('0',inplace=True)
df

,id,name,summary,notes,transit,access,host_id,host_name,host_since,host_about,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2595,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",0,Apartment is located on 37th Street between 5t...,"Guests have full access to the kitchen, bathro...",2845,Jennifer,2008-09-09,A New Yorker since 2000! My passion is creatin...,...,10,10,10,9,f,strict_14_with_grace_period,t,t,1,0.39
1,3831,Cozy Entire Floor of Brownstone,Urban retreat: enjoy 500 s.f. floor in 1899 br...,0,B52 bus for a 10-minute ride to downtown Brook...,You will have exclusive use of and access to: ...,4869,LisaRoxanne,2008-12-07,Laid-back bi-coastal actor/professor/attorney.,...,10,9,10,9,f,moderate,f,f,1,4.67
2,5099,Large Cozy 1 BR Apartment In Midtown East,My large 1 bedroom apartment has a true New Yo...,Read My Full Listing For All Information. New ...,From the apartment is a 10 minute walk to Gran...,I will meet you upon arrival.,7322,Chris,2009-02-02,"I'm an artist, writer, traveler, and a native ...",...,10,10,10,9,f,moderate,t,t,1,0.6
3,5121,BlissArtsSpace!,0,0,0,0,7356,Garon,2009-02-03,"I am an artist(painter, filmmaker) and curato...",...,10,10,9,9,f,strict_14_with_grace_period,f,f,1,0.38
4,5178,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,Reservation should be made at least a few days...,0,Bathroom is shared with the host but the kitch...,8967,Shunichi,2009-03-03,I used to work for a financial industry but no...,...,9,9,10,8,f,strict_14_with_grace_period,f,f,1,3.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50594,40570168,"Happy, accommodating,confortable & súper CLEAN!","Modern chick,super CLEAN, súper CONFORTABLE an...",0,0,0,314364722,Archi,2019-12-03,Straight forward and on time!!,...,0,0,0,0,f,flexible,f,f,2,0
50595,40570350,Cozy Modern Cottage Apartment,"Our cozy cottage like apartment, is in the hea...",0,You can take the subway (N or W) train to get ...,0,61835657,Hugo,2016-03-06,0,...,0,0,0,0,f,moderate,f,f,1,0
50596,40570935,"Súper clean, super confortable,súper ACCOMMODA...","Newly renovated 3bedroom apt, fully equipped w...",0,Easy access and walking distance from subway a...,0,314364722,Archi,2019-12-03,Straight forward and on time!!,...,0,0,0,0,t,flexible,f,f,2,0
50597,40572303,Captivating Room C,about 5 minutes walk to the nostrand/bedford ...,0,0,0,219544415,Joel And Julian,2018-10-08,0,...,0,0,0,0,t,flexible,f,f,3,0
50598,40584021,Bright studio apartment with a lot of amenities,"Beautiful studio with a lot of amenities (gym,...",0,0,0,27943798,Narendiran,2015-02-18,"Hey everyone,\r\n\r\nI'm 33 years old and curr...",...,0,0,0,0,f,flexible,f,f,1,0

In [12]:
# formatting the field to numeric
df["price"]  = df["price"] .str.replace(',', '').str.replace('$', '').astype(float)
df["cleaning_fee"]  = df["cleaning_fee"] .str.replace(',', '').str.replace('$', '').astype(float)
df["security_deposit"]  = df["security_deposit"] .str.replace(',', '').str.replace('$', '').astype(float)

AttributeError: Can only use .str accessor with string values!

In [13]:
df["host_is_superhost"]  = df["host_is_superhost"].str.replace('t', 'Yes').str.replace('f', 'No')

In [14]:
df

,id,name,summary,notes,transit,access,host_id,host_name,host_since,host_about,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2595,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",0,Apartment is located on 37th Street between 5t...,"Guests have full access to the kitchen, bathro...",2845,Jennifer,2008-09-09,A New Yorker since 2000! My passion is creatin...,...,10,10,10,9,f,strict_14_with_grace_period,t,t,1,0.39
1,3831,Cozy Entire Floor of Brownstone,Urban retreat: enjoy 500 s.f. floor in 1899 br...,0,B52 bus for a 10-minute ride to downtown Brook...,You will have exclusive use of and access to: ...,4869,LisaRoxanne,2008-12-07,Laid-back bi-coastal actor/professor/attorney.,...,10,9,10,9,f,moderate,f,f,1,4.67
2,5099,Large Cozy 1 BR Apartment In Midtown East,My large 1 bedroom apartment has a true New Yo...,Read My Full Listing For All Information. New ...,From the apartment is a 10 minute walk to Gran...,I will meet you upon arrival.,7322,Chris,2009-02-02,"I'm an artist, writer, traveler, and a native ...",...,10,10,10,9,f,moderate,t,t,1,0.6
3,5121,BlissArtsSpace!,0,0,0,0,7356,Garon,2009-02-03,"I am an artist(painter, filmmaker) and curato...",...,10,10,9,9,f,strict_14_with_grace_period,f,f,1,0.38
4,5178,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,Reservation should be made at least a few days...,0,Bathroom is shared with the host but the kitch...,8967,Shunichi,2009-03-03,I used to work for a financial industry but no...,...,9,9,10,8,f,strict_14_with_grace_period,f,f,1,3.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50594,40570168,"Happy, accommodating,confortable & súper CLEAN!","Modern chick,super CLEAN, súper CONFORTABLE an...",0,0,0,314364722,Archi,2019-12-03,Straight forward and on time!!,...,0,0,0,0,f,flexible,f,f,2,0
50595,40570350,Cozy Modern Cottage Apartment,"Our cozy cottage like apartment, is in the hea...",0,You can take the subway (N or W) train to get ...,0,61835657,Hugo,2016-03-06,0,...,0,0,0,0,f,moderate,f,f,1,0
50596,40570935,"Súper clean, super confortable,súper ACCOMMODA...","Newly renovated 3bedroom apt, fully equipped w...",0,Easy access and walking distance from subway a...,0,314364722,Archi,2019-12-03,Straight forward and on time!!,...,0,0,0,0,t,flexible,f,f,2,0
50597,40572303,Captivating Room C,about 5 minutes walk to the nostrand/bedford ...,0,0,0,219544415,Joel And Julian,2018-10-08,0,...,0,0,0,0,t,flexible,f,f,3,0
50598,40584021,Bright studio apartment with a lot of amenities,"Beautiful studio with a lot of amenities (gym,...",0,0,0,27943798,Narendiran,2015-02-18,"Hey everyone,\r\n\r\nI'm 33 years old and curr...",...,0,0,0,0,f,flexible,f,f,1,0

In [28]:
client = MongoClient("mongodb+srv://analytics:analytics.password@cluster0-g8thv.mongodb.net/test?retryWrites=true&w=majority")

In [15]:
df.head(1)

,id,name,summary,notes,transit,access,host_id,host_name,host_since,host_about,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2595,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",0,Apartment is located on 37th Street between 5t...,"Guests have full access to the kitchen, bathro...",2845,Jennifer,2008-09-09,A New Yorker since 2000! My passion is creatin...,...,10,10,10,9,f,strict_14_with_grace_period,t,t,1,0.39

In [36]:
test1 = df[df["id"] == 2595 ]
test2 = test1.to_dict('records')[0]
type(test2)

dict

In [37]:
# ====== Inserting Documents ====== #
# # Creating a simple Pandas DataFrame
db = client["aibnb_nyc"]
collection = db["collection1"]
collection.delete_many({}) 
# Bulk inserting documents. Each row in the DataFrame will be a document in Mongo
db.insert_one(test2)

In [75]:
# db = client["cleansing"]
# collection = db["people-row"]
# collection.delete_many({})