In [90]:
import pandas as pd
import json
import pymongo
data = pd.read_csv('listings.csv.gz', compression='gzip',
                   error_bad_lines=False, low_memory=False)
print(len(data))

50599
18470156

In [91]:
for c in data.columns:
    print(c)

listing_id
date
available
price
adjusted_price
minimum_nights
maximum_nights

In [93]:
calendar.groupby('date').count()

,listing_id,available,price,adjusted_price,minimum_nights,maximum_nights
date,,,,,,
2019-12-04,4566,4566,4566,4566,4459,4459
2019-12-05,27289,27289,27289,27289,26777,26777
2019-12-06,50569,50569,50567,50567,50531,50531
2019-12-07,50598,50598,50596,50596,50598,50598
2019-12-08,50598,50598,50596,50596,50598,50598
...,...,...,...,...,...,...
2020-12-01,50599,50599,50596,50596,50599,50599
2020-12-02,50599,50599,50596,50596,50599,50599
2020-12-03,46219,46219,46217,46217,46219,46219
2020-12-04,24498,24498,24497,24497,24498,24498
2020-12-05,535,535,535,535,535,535

In [13]:
data.groupby(['host_is_superhost']).count()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
host_is_superhost,,,,,,,,,,,,,,,,,,,,,
f,40225,40225,40225,40225,40209,38343,27543,39282,40225,24837,...,40225,40225,40225,40225,40225,40225,40225,40225,40225,30549
t,9811,9811,9811,9811,9811,9496,8488,9734,9811,7890,...,9811,9811,9811,9811,9811,9811,9811,9811,9811,9358

In [88]:
drop_columns = ['listing_url', 'scrape_id', 'last_scraped', 'space', 'description', 'experiences_offered', 
                'neighborhood_overview', 'interaction', 'house_rules', 'thumbnail_url', 'medium_url', 
                'picture_url', 'xl_picture_url', 'host_url', 'host_location', 
                'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms',
               'calculated_host_listings_count_shared_rooms', 'host_picture_url','city', 'state', 'zipcode','market',
               'smart_location', 'country_code', 'country', 'is_location_exact', 'square_feet', 'calendar_updated',
               'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 
                'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability', 'availability_30', 
                'availability_60', 'availability_90', 'number_of_reviews_ltm', 'first_review', 'last_review', 
                'requires_license', 'license', 'jurisdiction_names', 'is_business_travel_ready', 
                'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms',
                'calculated_host_listings_count_shared_rooms']


df = data.drop(drop_columns, axis=1)

In [89]:
df

,id,name,summary,notes,transit,access,host_id,host_name,host_since,host_about,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2595,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",NaN,Apartment is located on 37th Street between 5t...,"Guests have full access to the kitchen, bathro...",2845,Jennifer,2008-09-09,A New Yorker since 2000! My passion is creatin...,...,10.0,10.0,10.0,9.0,f,strict_14_with_grace_period,t,t,1,0.39
1,3831,Cozy Entire Floor of Brownstone,Urban retreat: enjoy 500 s.f. floor in 1899 br...,NaN,B52 bus for a 10-minute ride to downtown Brook...,You will have exclusive use of and access to: ...,4869,LisaRoxanne,2008-12-07,Laid-back bi-coastal actor/professor/attorney.,...,10.0,9.0,10.0,9.0,f,moderate,f,f,1,4.67
2,5099,Large Cozy 1 BR Apartment In Midtown East,My large 1 bedroom apartment has a true New Yo...,Read My Full Listing For All Information. New ...,From the apartment is a 10 minute walk to Gran...,I will meet you upon arrival.,7322,Chris,2009-02-02,"I'm an artist, writer, traveler, and a native ...",...,10.0,10.0,10.0,9.0,f,moderate,t,t,1,0.60
3,5121,BlissArtsSpace!,NaN,NaN,NaN,NaN,7356,Garon,2009-02-03,"I am an artist(painter, filmmaker) and curato...",...,10.0,10.0,9.0,9.0,f,strict_14_with_grace_period,f,f,1,0.38
4,5178,Large Furnished Room Near B'way,Please donâ€™t expect the luxury here just a bas...,Reservation should be made at least a few days...,NaN,Bathroom is shared with the host but the kitch...,8967,Shunichi,2009-03-03,I used to work for a financial industry but no...,...,9.0,9.0,10.0,8.0,f,strict_14_with_grace_period,f,f,1,3.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50594,40570168,"Happy, accommodating,confortable & sÃºper CLEAN!","Modern chick,super CLEAN, sÃºper CONFORTABLE an...",NaN,NaN,NaN,314364722,Archi,2019-12-03,Straight forward and on time!!,...,NaN,NaN,NaN,NaN,f,flexible,f,f,2,NaN
50595,40570350,Cozy Modern Cottage Apartment,"Our cozy cottage like apartment, is in the hea...",NaN,You can take the subway (N or W) train to get ...,NaN,61835657,Hugo,2016-03-06,NaN,...,NaN,NaN,NaN,NaN,f,moderate,f,f,1,NaN
50596,40570935,"SÃºper clean, super confortable,sÃºper ACCOMMODA...","Newly renovated 3bedroom apt, fully equipped w...",NaN,Easy access and walking distance from subway a...,NaN,314364722,Archi,2019-12-03,Straight forward and on time!!,...,NaN,NaN,NaN,NaN,t,flexible,f,f,2,NaN
50597,40572303,Captivating Room C,about 5 minutes walk to the nostrand/bedford ...,NaN,NaN,NaN,219544415,Joel And Julian,2018-10-08,NaN,...,NaN,NaN,NaN,NaN,t,flexible,f,f,3,NaN
50598,40584021,Bright studio apartment with a lot of amenities,"Beautiful studio with a lot of amenities (gym,...",NaN,NaN,NaN,27943798,Narendiran,2015-02-18,"Hey everyone,\r\n\r\nI'm 33 years old and curr...",...,NaN,NaN,NaN,NaN,f,flexible,f,f,1,NaN